/* icons.css */
.bb-home {
    background-image: url('../icons/home.svg');
    background-size: contain;
    display: inline-block;
    width: 24px;
    height: 24px;
}

.bb-user {
    background-image: url('../icons/user.svg');
    background-size: contain;
    display: inline-block;
    width: 24px;
    height: 24px;
}

.bb-settings {
    background-image: url('../icons/settings.svg');
    background-size: contain;
    display: inline-block;
    width: 24px;
    height: 24px;
}
